{% extends 'core/base.html' %}

{% load static %}

{% block content %}
    <main>
        <div class="container">
            <h1>
                <center>Historia</center>
            </h1>
            <h3>
                Creanción:
            </h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ipsam, ipsa dignissimos laboriosam consequuntur molestias odio
                quas asperiores inventore doloremque aliquid pariatur non incidunt soluta tenetur iusto adipisci amet quidem!
                Mollitia minima quod velit, hic optio esse temporibus, non blanditiis nesciunt consequatur ad dignissimos
                a quaerat necessitatibus

            </p>
            <p>repudiandae commodi provident molestiae facilis quasi fuga veritatis nisi? Dignissimos quis aspernatur libero?
                Pariatur nisi accusantium tenetur harum magni consectetur consequatur fuga iure molestiae ducimus minus placeat
                ipsum earum, sed totam eius adipisci optio ipsam veritatis provident repellendus natus. Ab ex quibusdam velit?
            </p>
            <div class="progress">
                <div class="indeterminate"></div>
            </div>
            <h3>
                Introducción a mexico
            </h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ipsam, ipsa dignissimos laboriosam consequuntur molestias odio
                quas asperiores inventore doloremque aliquid pariatur non incidunt soluta tenetur iusto adipisci amet quidem!
                Mollitia minima quod velit, hic optio esse temporibus, non blanditiis nesciunt consequatur ad dignissimos
                a quaerat necessitatibus </p>
            <p>repudiandae commodi provident molestiae facilis quasi fuga veritatis nisi? Dignissimos quis aspernatur libero?
                Pariatur nisi accusantium tenetur harum magni consectetur consequatur fuga iure molestiae ducimus minus placeat
                ipsum earum, sed totam eius adipisci optio ipsam veritatis provident repellendus natus. Ab ex quibusdam velit?
            </p>
            <div class="progress">
                <div class="indeterminate"></div>
            </div>

            <h3>
                Creanción:
            </h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ipsam, ipsa dignissimos laboriosam consequuntur molestias odio
                quas asperiores inventore doloremque aliquid pariatur non incidunt soluta tenetur iusto adipisci amet quidem!
                Mollitia minima quod velit, hic optio esse temporibus, </p>
            <p>non blanditiis nesciunt consequatur ad dignissimos a quaerat necessitatibus repudiandae commodi provident molestiae
                facilis quasi fuga veritatis nisi? Dignissimos quis aspernatur libero? Pariatur nisi accusantium tenetur
                harum magni consectetur consequatur fuga iure molestiae ducimus minus placeat ipsum earum, sed totam eius
                adipisci optio ipsam veritatis provident repellendus natus. Ab ex quibusdam velit?
            </p>
            <div class="progress">
                <div class="indeterminate"></div>
            </div>

        </div>


    </main>
{% endblock %}

