{% extends 'core/base.html' %}

{% load static %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col l5 m12 s12 offset-l1 offset-m0 offset-s0">
				<h1 align="center">¿Que es NetKaizen?</h1>

				<h5 align="center">Kaizen= "Mejora continua"</h5>

				<h5 align="center">Net= "Red"</h5>
				<h6 align="center">Somos una institucion comprometida con el desarrollo integral de nuestros estudiantes. Nos dedicamos a proporcionar las
					herramientas necesarias para aumentar significativamente el valor humano de nuestros estudiantes sin dejar de lado el
					desarrollo profesional en ingenieria</h6>

			</div>
			<div class="col l5 m12 s12 offset-l1 offset-m0 offset-s0">
				<br>

				<div>
					<img class="terry" src="{% static 'core/img/emprende.jpg' %}">
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>


	<div class="container-fluid">
		<div class="row">
			<div class="col l5 m12 s12 offset-l1 offset-m0 offset-s0">
				<img class="terry" src="{% static 'core/img/deportes.jpg' %}">
			</div>
			<div class="col l5 m12 s12 offset-l1 offset-m0 offset-s0">
				<h1 align="center">La Disciplina Del Deporte</h1>
				<h6 align="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione doloribus nulla sed omnis modi nihil ipsum veniam vitae
					esse adipisci, atque, quisquam assumenda accusamus expedita. Eos ad, tempore. Ut id, nihil porro et similique dicta
					asperiores quisquam quidem voluptatibus dolore, ratione minus quibusdam, accusantium distinctio officiis at ipsam expedita
					culpa sint quos voluptatum. Labore quia autem deserunt aliquam porro? Voluptatum aliquid officia libero, tempore, at
					itaque voluptas dolores quis quaerat maxime qui autem nobis facilis sint. Sint nostrum temporibus maiores.</h6>
			</div>

		</div>
	</div>
	<br>
	<br>

	<div class="row">
		<h3 align="center">Contáctanos</h3>
	</div>
	<div class="row">
		<div class="col l3 m3 s9 offset-l1 offset-m1 offset-s3">
			<img src="{% static 'core/img/telefono.png' %}">
			<h6>Llámanos</h6>
			<h6>+52 5520129878</h6>
		</div>
		<div class="col l3 m3 s9 offset-l1 offset-m1 offset-s3">
			<img src="{% static 'core/img/charlar.png' %}">
			<h6>Resuelve tus dudas</h6>
			<h6>Chat en Linea</h6>
		</div>
		<div class="col l3 m3 s9 offset-l1 offset-m1 offset-s3">
			<img src="{% static 'core/img/correo.png' %}">
			<h6>Correo Electrónico</h6>
			<h6>TecKaizen@Kaizen.com</h6>
		</div>
		<div class="col m1"></div>
	</div>
	<br>
	<br>
{% endblock %}