{% extends 'core/base.html' %}

{% load static %}

{% block content %}
	<h1 align="center">Vision</h1>
	<div class="row">
		<div class="col m3"></div>
		<div class="col m6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus iusto in, ad explicabo sapiente modi dolorum dolores inventore
			ipsam cumque magnam sint fugiat ab! Nisi unde expedita aliquid voluptatibus? A sed possimus culpa voluptatem voluptatum.
			Architecto mollitia quae enim quos voluptatum labore sed quibusdam dolore totam natus eos ipsa ullam, quod explicabo laudantium
			in nulla consequatur porro doloremque quia dolores assumenda, vitae optio neque. Quae labore distinctio non molestiae,
			molestias suscipit necessitatibus quasi, natus neque vel, qui, nam libero ex unde blanditiis. Fugit cum porro, dolorem
			dicta similique eveniet ad rerum dolorum labore quam illo ut quasi voluptas reiciendis nam explicabo omnis mollitia molestias.
			Culpa, corporis modi, autem aut dignissimos, aliquam accusantium explicabo neque minima eum accusamus itaque impedit?
			Sequi laudantium laboriosam optio, voluptate! Expedita itaque similique possimus aliquid perferendis, nam architecto voluptatibus,
			dolor maxime aliquam voluptatem quaerat vitae explicabo omnis, nostrum voluptatum cumque doloremque modi. Voluptatum sapiente
			ipsam exercitationem ipsum quidem nostrum voluptatibus, saepe, ea porro quibusdam est odit facere. Veritatis in expedita,
			reiciendis veniam laborum quam similique. Fugiat aperiam error tenetur. Incidunt ipsam temporibus perspiciatis ab quae
			sit, ipsum, id explicabo doloribus ullam repudiandae labore iure corporis minima aperiam et cum officiis possimus. Unde
			consectetur harum debitis culpa, in repudiandae reprehenderit ratione veniam recusandae officiis ducimus, odit perspiciatis?
			Consectetur autem natus commodi assumenda culpa laboriosam aperiam tenetur odio molestiae dolorem, aspernatur doloribus
			at dolores est voluptates corporis, eveniet repellat ducimus veritatis explicabo vero, quas. Tempore quis ipsum voluptatibus
			officia, esse recusandae ratione ipsam asperiores voluptas ducimus aliquam eius alias commodi cupiditate sit. Totam temporibus
			doloribus dolore, veritatis incidunt hic, aspernatur quidem quasi repudiandae explicabo earum eveniet possimus nesciunt
			nulla quia! Illo optio nostrum rem, aut magni veniam sint accusantium cupiditate eum aperiam tempora rerum, ipsam modi
			fugit iusto nobis obcaecati, earum ex doloremque. Odio vel ex numquam voluptas?</div>
		<div class="col m3"></div>
	</div>
{% endblock %}
